REACT_APP_CONTRACT_ADDRESS = '' #put the address of your contract in which you wish to implement Metatransaction
REACT_APP_WEBHOOK_URL = "" # create an webhook Autotask in Openzeppelin Defender. Copy the webhook url and put it here
REACT_APP_QUICKNODE_URL = "" # put the alchemy provider https url here to connect to your desired blockchain network eg: polygon mumbai